
@media screen and (min-height: 600px) {

  .large-header {
    height: 600px;
  }

}

@media screen and (max-width: 700px) {

  .main {
    width: 100%;
    height: 600px;
    top: 40px;
    left: 0;
    transform: translate3d(0,0,0);

    .main-logo {
      width: 100%;
      height: 100px;
      padding: 0 35px;

      .logo {
        width: 100px;
        height: 100px;
        padding: 15px;
      }
    }

    .main-text {
      width: 100%;

      .main-text-slide {
        height: auto;
      }
    }
  }

  .logos {

    li {
      width: 100%;
      border-right: none;
      border-bottom: 1px #E2E2E2 solid;

      &:last-child {
        border-bottom: none;
      }
    }
  }

}